.square {
  width: 10px;
  height: 10px;
}

.flat {
  background-color:#dcedc8;
}

.lake {
  background-color: #bbdefb;
}

.mountain {
  background-color: #f5f5f5;
}

.desert {
  background-color: #ffecb3;
}

.river {
  background-color: #b3e5fc;
}